* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes cano-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes mario-pulo {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  80% {
    bottom: 40px;
  }

  90% {
    bottom: 30px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes animation-nuvem {
  from {
    right: -550px;
  }

  to {
    right: 100%;
  }
}

.game {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  position: relative;
  border-bottom: 15px solid rgb(72, 180, 104);
  overflow: hidden;
  background: linear-gradient(#88cfeb, #dff3fc);
}

.embaixo {
  height: 250px;
  background: linear-gradient(rgb(72, 180, 104), #baf3d0);
}

.cano {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: cano-animation 1.2s infinite linear;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.pulo {
  animation: mario-pulo 500ms ease-out;
}

.nuvem {
  width: 550px;
  position: absolute;
  animation: animation-nuvem 5s infinite linear;
}

.btn {
  padding: 5px;
  margin: 10px;
  margin-left: 20px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px solid #334;
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222;
  font-size: clamp(1px, 2.6vw, 15px);
}

.btn:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}